* {
  box-sizing: border-box;
}
body {
      font-family: 'Gugi', cursive;
      margin: 0px auto;
      background-color: #869dc7;
     } 
.thinkful {color:darkblue;
    font-weight: bold;
      }

#classrooms { margin: 0;
             float: right;
			 text-align:center;
			 font-size: 70%;
    overflow: auto;
}
#wrapper { background-color: #b3c7e6; 
           color: #000066;
           width: 80%;
		   margin: auto;
           min-width:850px;
}
#header{ background-color: #869dc7;
        color: #00005D; 
        font-size: 100%; 
        text-align: center;
}

#content {padding: 0 0 5px 20px; 
    margin-left: 10px;
    color: black;
}